@{
    ViewData["Title"] = "Rebmem";
}

<div class="container-fluid">
    <div class="media-player center-block">
        <div>
            <video id="MediaPlayer">
                Your browser does not support HTML5 video.
            </video>

            @ViewBag.MediaMetadata.Title
        </div>
    </div>
</div>

